<%- include('partials/header') %>
<div class=" h-[100px] rounded-sm m-[0.5rem] p-3 ">
    <a href="#default" class="float-left  font-bold p-[10px] text-[40px] hover:bg-[#ddd] hover:text-black font-serif">ProbShare</a>
    <div class="float-right text-[20px] sm:visible invisible p-[10px] ">
      <a class="px-2" href="/">Home</a>
      <a class="px-2" href="/register">Register</a>
      <a class="px-2" href="/login">Login</a>
    </div>
</div>
<div class="text-center sm:text-7xl text-4xl p-6 mx-[15%]  font-medium justify-center w-[70%] sm:pt-36 pt-24 ">
 <p class="m-6 "> Do you want to share your Problems? </p>
  <hr>
  </div>

  
  <p class="sm:text-2xl text-xl text-center">I am sharing it, but don't share it to others.</p>
</div>
<div class="max-[700px] m-8">
    <div class=" flex  text-center justify-center m-1">
      <a href="/register">  <button class="bg-transparent ease-in-out delay-[3s] hover:bg-gray-400 y- m-6 text-gray-800 font-semibold py-2 px-4 border w-[150px] h-[60px] border-gray-400 rounded shadow">
            Register
          </button> </a>
          <p class="text-xl p-5">or</p>
         <a href="/login"> <button class="bg-gray-500 m-6 ease-in-out delay-[3s] hover:bg-gray-700 text-white font-bold py-2  w-[150px] h-[60px] px-4 rounded">
            Login
          </button> </a> 
    </div>
</div>


<%- include('partials/footer') %>